<!DOCTYPE html>
<html lang="en">

<head>
  <title>Data Summary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  {% if plot_script is defined %}
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js"></script>
    {{ plot_script }}
  {% endif %}
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand" href="#">🤠</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://gitlab.com/Teebr/python-data-pages">Repo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="data.html">Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="bonus.html">Bonus</a>
      </li>
    </ul>
  </nav>

  {% block main %}
  {% endblock %}

</body>

</html>